body{
    background-color: yellow;
    color: green;
    font-size: 100px;
    text-shadow: 5px 5px 5px black;
}

.photo{
    width:200px;
    height:200px;
    margin:20px;
    display: inline-block;
    background:grey;
    color:black;
    font-size: 20px;
}

#naam{
    background-color: red;
}