
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+VA+Guides&display=swap');

body{
    background-color: yellow;
    color: green;
    font-size: 100px;
    text-shadow: 5px 5px 5px black;

  font-family: "Playwrite DE VA Guides", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.photo{
    width:200px;
    height:200px;
    margin:20px;
    display: inline-block;
    background:grey;
    color:black;
    font-size: 20px;
}

#naam{
    background-color: red;
}